<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <a class="navbar-brand" href="/"><img src="/tinyLogo.png" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div>
    </div>
    <% if (user) { %>
      <form class="form-inline" method="POST" action="/logout">
        <div class="form-group mb-2">
        <label style="width: 300px; margin: 1em" class="">Logged In as: <%= user.email %></label>
        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Logout</button>
      </div>
      </form>
    <% } else { %>
      <table>
        <tr>
          <td>
            <form class="form-inline" method="GET" action="/register">
              <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Register</button>
            </form>
          </td>
          <td>
            <form class="form-inline" method="GET" action="/login">
              <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Login</button>
            </form>
          </td>
        </tr>
      </table>

      
      
    <% } %>
  </nav>
</header>